{
	"type": "pv",
	"id": "PV1",
	"verifiers": {
		"P0": {"property": "memory_leaks", "verifier": "dummy_success"},
		"P1": {"property": "termination", "verifier": "dummy_success"},
		"P2": {"property": "termination", "verifier": "dummy_failure"}
	},
	"exp" : "P0 and ( P1 or P2 )",
	"registry": "10.20.3.5:5000"
}
