KEYMAPOPTS="be be"

HOSTNAMEOPTS="-n alpine-base"

INTERFACESOPTS="auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
hostname alpine-base
"

DNSOPTS="-d 9.9.9.9"

TIMEZONEOPTS="-z Europe/Brussels"

PROXYOPTS="none"

APKREPOSOPTS="-1"

SSHDOPTS="-c openssh"

NTPOPTS="-c opentntpd"

DISKOPTS="-m sys /dev/vda"
